<section class="about-section">
    <div class="container">
  <div class="about-container">
    <div class="about-container-text">
    <h2 class="about-title">About Us</h2>
    <p class="about-text ">
      Welcome to our premium watch collection, where luxury and style meet
      functionality and precision. Our selection of timepieces embodies the very
      best in Swiss craftsmanship and engineering, ensuring that you'll always
      have a reliable and stylish accessory on your wrist.
    </p>
    <p class="about-text">
      At our premium watch collection, we believe that a watch is more than just
      a timekeeping device – it's a statement piece that reflects your
      personality and style. So why settle for anything less than the best?
    </p>
    </div>
    <button class="about-btn" type="button">View catalog</button>
    </div>
 <picture>
  <source
      media="(min-width:1280px)"
      srcset="
        ./img/about/desktop-about-watch.jpg,
        ./img/about/desktop-about-watch@2x.jpg 2x
      "/>
 <source
      media="(min-width:768px)"
      srcset="
        ./img/about/tablet-about-watch.jpg,
        ./img/about/tablet-about-watch@2x.jpg 2x
      "/>

 <source
      media="(min-width:320px)"
      srcset="
        ./img/about/mobile-about-watch.jpg,
        ./img/about/mobile-about-watch@2x.jpg 2x
      "/>
</source>
      <img
      class="about-img"
      src="./img/about/desktop-about-watch.jpg"
      alt="About us image" width="335px"
      height="446px"/>
  </picture>

   </div>
</section>
