.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-container {
  border-radius: 30px;
  background: #f3f3f3;
}
.about-container-text {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 40px 20px;
  gap: 20px;
}
.about-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  padding-bottom: 8px;
}
.about-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  max-width: 295px;
}
.about-button-link {
  text-decoration: none;
  display: inline-block;
  border-radius: 16px;
  background: #3350e9;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #fbfbfb;
  padding: 15px 38px;
  margin-left: 20px;
  margin-bottom: 40px;
}
.about-button-link:hover {
  background: #1f3cd4;
}
.about-img {
  border-radius: 30px;
  background-color: rgba(12, 12, 12, 0.2);
  width: 100%;
  max-width: 335px;
}
/*----Tablet styles----*/
@media only screen and (min-width: 768px) {
  .about-title {
    font-size: 48px;
    line-height: 0.9;
    padding-bottom: 20px;
  }
  .about-container-text {
    padding: 80px 60px 60px 60px;
  }
  .about-text {
    font-size: 16px;
    line-height: 1.25;
    max-width: 584px;
  }
  .about-img {
    border-radius: 50px;
    max-width: 704px;
  }
  .about-button-link {
    margin-left: 60px;
    margin-bottom: 80px;
  }
}
/*----Desktop styles----*/
@media only screen and (min-width: 1280px) {
  .about-wrapper {
    flex-direction: row;
    gap: 40px;
  }
  .about-container {
    width: 580px;
  }

  .about-container-text {
    max-width: 460px;
    padding: 80px 60px 40px 60px;
  }
  .about-img {
    max-width: 530px;
  }
}
